In [0]:
%tensorflow_version 2.x

In [0]:
import tensorflow as tf

dataset = tf.keras.utils.get_file(
    fname="aclImdb.tar.gz", 
    origin="http://ai.stanford.edu/~amaas/data/sentiment/aclImdb_v1.tar.gz", 
    extract=True,
)

In [0]:
import os
import glob
import pandas as pd

def get_data(n):
    train_dn = os.path.join(dn, n)
    contents = []
    sentiment = []
    pos_fn = os.path.join(train_dn, "pos", "*.txt")
    for fn in glob.glob(pos_fn):
        with open(fn, "r", encoding="utf-8") as f:
            contents.append(f.read())
            sentiment.append(1)

    neg_fn = os.path.join(train_dn, "neg", "*.txt")
    for fn in glob.glob(neg_fn):
        with open(fn, "r", encoding="utf-8") as f:
            contents.append(f.read())
            sentiment.append(0)

    df = pd.DataFrame({
        "content":contents,
        "sentiment":sentiment
    }, columns=["content", "sentiment"])
    return df

In [4]:
dn = os.path.dirname(dataset)
dn = os.path.join(dn, "aclImdb")

train_df = get_data("train")
test_df = get_data("test")
test_df

                                                 content  sentiment
0      Fair and nifty little science fiction/horror f...          1
1      I think Gerard's comments on the doc hit the n...          1
2      This is one of the best Czech movies I have ev...          1
3      This film, for what it was set out to be, succ...          1
4      Excellent performance by Mary KAy Place, Steve...          1
...                                                  ...        ...
24995  First I have to say that I have read everythin...          0
24996  "The Duke" is a film based in the heart of the...          0
24997  So we're supposed to find it funny that this w...          0
24998  This show had a promising start as sort of the...          0
24999  I can imagine what happened for this film to c...          0

[25000 rows x 2 columns]

In [0]:
from tensorflow.keras.preprocessing.text import Tokenizer
tok = Tokenizer(num_words=3000)
# 這步像是以前的CountVectorizer的fit(找出多少種)
tok.fit_on_texts(train_df["content"])

In [0]:
# 這是我好習慣, 先把正向轉換和反向轉換準備好
index_2_word = tok.index_word
word_2_index = {v:k for k, v in tok.index_word.items()}

In [15]:
train_df["content"][0]

'The 60\'s is a great movie(I saw it completely in one night) about the hippy movement in the late 60\'s. Although the title would suggest otherwise the first 5 years of the 60\'s are not really important in this film.<br /><br />The main character of the movie is Michael,a political activist who goes on the road in the US against the Vietnam-war. There he meets his girlfriend,Sarah.Michael\'s brother,Brian,goes to Vietnam to fight(what a surprise!).He comes back from the war and changes in a "Tom Cruise Born on the fourth of July" look a like and then into a Hippy.His dad is a pro-vietnam war type of guy(what a surprise!!).Michael\'s sister Kate gets pregnant from a Rock & Roll artist and runs away from home and goes to San Francisco during the summer of love. The ending is very poor(father becomes a liberal and everybody is happy),but I let this slip away from my vote(the rest of the movie is very good!). <br /><br />The performances by the actors are pretty good and the soundtrack of the movie is absolutely brilliant. All the main events of the sixties are in the movie,like the murders on JFK and Martin Luther King aswell as the big hippy protests,the summer of love and Woodstock! Look closely for Wavy"Woodstock Speaker"Gravy(What we have in mind is breakfast in bed for 400.000!) as a first aid employee at the Woodstock festival!<br /><br />In the end,the 60\'s is a beautiful movie about a beautiful decade! 10/10'

In [7]:
# 真的轉換成數字, transform
# 這些數字都會在(3000)的精選單詞內
x_train_seq = tok.texts_to_sequences(train_df["content"])
x_test_seq = tok.texts_to_sequences(test_df["content"])
pd.DataFrame(x_train_seq)

       0     1     2     3     4     5     ...  1810  1811  1812  1813  1814  1815
0         1     6     3    84    17    10  ...   NaN   NaN   NaN   NaN   NaN   NaN
1        32   155     1   646     4   484  ...   NaN   NaN   NaN   NaN   NaN   NaN
2        11     6     3   726   209   118  ...   NaN   NaN   NaN   NaN   NaN   NaN
3       764    13   128   157   675   320  ...   NaN   NaN   NaN   NaN   NaN   NaN
4        90     8  2706     6    32   318  ...   NaN   NaN   NaN   NaN   NaN   NaN
...     ...   ...   ...   ...   ...   ...  ...   ...   ...   ...   ...   ...   ...
24995   803   516     9     3   297    60  ...   NaN   NaN   NaN   NaN   NaN   NaN
24996    58   365     2    10  1608    12  ...   NaN   NaN   NaN   NaN   NaN   NaN
24997    10   553    35    73    41    11  ...   NaN   NaN   NaN   NaN   NaN   NaN
24998  1165   908    55   651   841    22  ...   NaN   NaN   NaN   NaN   NaN   NaN
24999    10   479    10   241   579   519  ...   NaN   NaN   NaN   NaN   NaN   NaN

[25000 rows x 1816 columns]

In [8]:
# 因為你後面有接MLP, 你一定要讓你的input是一樣的
from tensorflow.keras.preprocessing.sequence import pad_sequences
x_train_padseq = pad_sequences(x_train_seq, maxlen=256)
x_test_padseq = pad_sequences(x_test_seq, maxlen=256)
pd.DataFrame(x_test_padseq)

       0    1    2    3    4    5    6    ...  249   250  251   252   253  254   255
0        0    0    0    0    0    0    0  ...    2     9  128   492    37    3  1379
1        0    0    0    0    0    0    0  ...   78   273   20     3   191    4   336
2        0    0    0    0    0    0    0  ...    2    65  110   100     1  322     8
3        0    0    0    0    0    0    0  ...   82    81   12  2535   112  570     9
4        0    0    0    0    0    0    0  ...    7    59  116     5    64    3   751
...    ...  ...  ...  ...  ...  ...  ...  ...  ...   ...  ...   ...   ...  ...   ...
24995   66   39   86  251   56  117   13  ...  271    39    5    60    23  526   535
24996   31  589   34  296    3   34    6  ...  654     5   64     8    24  474   214
24997    0    0    0    0    0    0    0  ...  126    55    6  1079   160  882   439
24998    0    0    0    0    0    0    0  ...   13    93  125     2    73   50   817
24999    3   52  389  608    7    7   14  ...    2  2046   41   144  1178    7     7

[25000 rows x 256 columns]

In [9]:
from tensorflow.keras.models import Sequential
from tensorflow.keras.layers import Embedding
from tensorflow.keras.layers import Flatten, Dense, Dropout

INPUT_DIM = 3000 + 1
EMBEDDING_DIM = 64
INPUT_LENGTH = 256

model = Sequential()
model.add(Embedding(INPUT_DIM, 
                    EMBEDDING_DIM,
                    mask_zero=True,
                    input_length=INPUT_LENGTH))
model.add(Flatten())
model.add(Dense(128, activation="relu"))
model.add(Dropout(0.25))
model.add(Dense(2, activation="softmax"))
model.summary()

Model: "sequential"
_________________________________________________________________
Layer (type)                 Output Shape              Param #
=================================================================
embedding (Embedding)        (None, 256, 64)           192064
_________________________________________________________________
flatten (Flatten)            (None, 16384)             0
_________________________________________________________________
dense (Dense)                (None, 128)               2097280
_________________________________________________________________
dropout (Dropout)            (None, 128)               0
_________________________________________________________________
dense_1 (Dense)              (None, 2)                 258
=================================================================
Total params: 2,289,602
Trainable params: 2,289,602
Non-trainable params: 0
_________________________________________________________________

In [0]:
from tensorflow.keras.losses import SparseCategoricalCrossentropy
model.compile(loss=SparseCategoricalCrossentropy(),
              optimizer="adam",
              metrics=["accuracy"])

In [12]:
from tensorflow.keras.callbacks import EarlyStopping, ModelCheckpoint

y_train = train_df["sentiment"]
y_test = test_df["sentiment"]

stop_callback = EarlyStopping(patience=3, restore_best_weights=True)
save_callback = ModelCheckpoint("fashion.h5", save_best_only=True)
model.fit(x_train_padseq, 
          y_train,
          batch_size=200,
          epochs=100,
          validation_split=0.1,
          callbacks=[stop_callback, save_callback],
          verbose=2)

Epoch 1/100
113/113 - 9s - loss: 0.2287 - accuracy: 0.9104 - val_loss: 0.4130 - val_accuracy: 0.8224
Epoch 2/100
113/113 - 9s - loss: 0.0690 - accuracy: 0.9789 - val_loss: 0.4167 - val_accuracy: 0.8552
Epoch 3/100
113/113 - 9s - loss: 0.0127 - accuracy: 0.9986 - val_loss: 0.5437 - val_accuracy: 0.8432
Epoch 4/100
113/113 - 9s - loss: 0.0033 - accuracy: 0.9998 - val_loss: 0.6502 - val_accuracy: 0.8276

In [13]:
model.evaluate(x_test_padseq, y_test)

782/782 [==============================] - 3s 4ms/step - loss: 0.3268 - accuracy: 0.8610

[0.32680225372314453, 0.8610399961471558]

In [20]:
infer = Sequential()
infer.add(Embedding(INPUT_DIM, 
                    EMBEDDING_DIM))
w = model.layers[0].get_weights()
infer.set_weights(w)
infer.summary()

Model: "sequential_2"
_________________________________________________________________
Layer (type)                 Output Shape              Param #
=================================================================
embedding_2 (Embedding)      (None, None, 64)          192064
=================================================================
Total params: 192,064
Trainable params: 192,064
Non-trainable params: 0
_________________________________________________________________

In [22]:
w = input("你要轉換哪一個詞")
data = [[word_2_index[w]]]
print("詞向量:", infer.predict(data))

你要轉換哪一個詞the
詞向量: [[[ 0.00290473 -0.01289856  0.02947419 -0.00850814 -0.03025006
   -0.02620795  0.00938908 -0.02189681 -0.0397526  -0.01325809
   -0.01500157  0.02185622 -0.03115955 -0.03027889  0.01844185
   -0.02016844  0.02884782  0.0354937  -0.00676257  0.00435496
   -0.01751614  0.01659416  0.04257277  0.00801756 -0.02986678
   -0.0300618   0.01693644 -0.03345042  0.01189752 -0.01024606
    0.00383847  0.01663316 -0.03367633  0.01561409 -0.02805189
    0.01300677 -0.02400901 -0.00546213 -0.01575278 -0.00168033
    0.02471689 -0.03829198 -0.00666756 -0.00912521 -0.01278515
   -0.00246492  0.00312611 -0.01462641 -0.03781288  0.03907366
   -0.01984264 -0.00775725  0.01871934 -0.0010493   0.00545464
    0.00915297  0.00184066  0.0303612   0.0197422   0.03256622
   -0.0205933   0.00106289 -0.0192446  -0.00011142]]]