In [0]:
%tensorflow_version 2.x

In [1]:
import tensorflow as tf

dataset = tf.keras.utils.get_file(
    fname="aclImdb.tar.gz", 
    origin="http://ai.stanford.edu/~amaas/data/sentiment/aclImdb_v1.tar.gz", 
    extract=True,
)

Downloading data from http://ai.stanford.edu/~amaas/data/sentiment/aclImdb_v1.tar.gz
84131840/84125825 [==============================] - 8s 0us/step

In [0]:
import os
import glob
import pandas as pd

def get_data(n):
    train_dn = os.path.join(dn, n)
    contents = []
    sentiment = []
    pos_fn = os.path.join(train_dn, "pos", "*.txt")
    for fn in glob.glob(pos_fn):
        with open(fn, "r", encoding="utf-8") as f:
            contents.append(f.read())
            sentiment.append(1)

    neg_fn = os.path.join(train_dn, "neg", "*.txt")
    for fn in glob.glob(neg_fn):
        with open(fn, "r", encoding="utf-8") as f:
            contents.append(f.read())
            sentiment.append(0)

    df = pd.DataFrame({
        "content":contents,
        "sentiment":sentiment
    }, columns=["content", "sentiment"])
    return df

In [16]:
dn = os.path.dirname(dataset)
dn = os.path.join(dn, "aclImdb")

train_df = get_data("train")
test_df = get_data("test")
test_df

                                                 content  sentiment
0      Fair and nifty little science fiction/horror f...          1
1      I think Gerard's comments on the doc hit the n...          1
2      This is one of the best Czech movies I have ev...          1
3      This film, for what it was set out to be, succ...          1
4      Excellent performance by Mary KAy Place, Steve...          1
...                                                  ...        ...
24995  First I have to say that I have read everythin...          0
24996  "The Duke" is a film based in the heart of the...          0
24997  So we're supposed to find it funny that this w...          0
24998  This show had a promising start as sort of the...          0
24999  I can imagine what happened for this film to c...          0

[25000 rows x 2 columns]

In [0]:
from tensorflow.keras.preprocessing.text import Tokenizer
tok = Tokenizer(num_words=3000)
# 這步像是以前的CountVectorizer的fit(找出多少種)
tok.fit_on_texts(train_df["content"])

In [0]:
# 這是我好習慣, 先把正向轉換和反向轉換準備好
index_2_word = tok.index_word
word_2_index = {v:k for k, v in tok.index_word.items()}

In [26]:
# 真的轉換成數字, transform
# 這些數字都會在(3000)的精選單詞內
x_train_seq = tok.texts_to_sequences(train_df["content"])
x_test_seq = tok.texts_to_sequences(test_df["content"])
pd.DataFrame(x_train_seq)

       0     1     2     3     4     5     ...  1810  1811  1812  1813  1814  1815
0         1     6     3    84    17    10  ...   NaN   NaN   NaN   NaN   NaN   NaN
1        32   155     1   646     4   484  ...   NaN   NaN   NaN   NaN   NaN   NaN
2        11     6     3   726   209   118  ...   NaN   NaN   NaN   NaN   NaN   NaN
3       764    13   128   157   675   320  ...   NaN   NaN   NaN   NaN   NaN   NaN
4        90     8  2706     6    32   318  ...   NaN   NaN   NaN   NaN   NaN   NaN
...     ...   ...   ...   ...   ...   ...  ...   ...   ...   ...   ...   ...   ...
24995   803   516     9     3   297    60  ...   NaN   NaN   NaN   NaN   NaN   NaN
24996    58   365     2    10  1608    12  ...   NaN   NaN   NaN   NaN   NaN   NaN
24997    10   553    35    73    41    11  ...   NaN   NaN   NaN   NaN   NaN   NaN
24998  1165   908    55   651   841    22  ...   NaN   NaN   NaN   NaN   NaN   NaN
24999    10   479    10   241   579   519  ...   NaN   NaN   NaN   NaN   NaN   NaN

[25000 rows x 1816 columns]